-# = link_to campaign, :class=>'campaign_link' do 

- path = banner ? banner : new_banner_path
.b-full-banner
  = link_to path, :class=>'b-banner' do
    .banner_image
      - if banner
        = image_tag( banner.banner.url(:cropped) )
      - else
        .banner_image_new +
    .banner_info
      - if banner
        .banner_name= banner.name
        .banner_format= banner.labeled_format
        .banner_details
          - c = banner.campaigns.live
          - if c.present?
            - if defined?(campaign) and c.count == 1 and c.first == campaign
              Участвует только в этой кампании
            - else
              Участвует в кампаниях:
              = c.count
          - else
            В каманиях не участвует
      - else
        .banner_name Добавить баннер
  .banner_states
    - if banner
      = state_actions(defined?(campaign) ? campaign : banner)
  .clear
