= semantic_form_for @banner, :html => { :multipart => true } do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :banner, :as => :file
    = f.input :link, :as => :url
    = f.input :name
    = f.submit
