%h1 Listing banners

%table
  %tr
    %th User
    %th Name
    %th State
    %th Link
    %th
    %th
    %th

  - @banners.each do |banner|
    %tr
      %td= image_tag banner.banner.url(:thumb)
      %td
        = banner.name
        .desc= "(#{banner.geometry})"
      %td= link_to banner.link
      %td= banner.state
      %td= link_to 'Show', banner
      %td= link_to 'Edit', "edit_banner_path(banner)"
      %td= link_to 'Destroy', banner, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Banner', new_banner_path
