%p
  %b User:
  = @banner.user_id
%p
  %b Name:
  = @banner.name
%p
  %b Format:
  = @banner.format
%p
  %b State:
  = @banner.state
%p
  %b Link:
  = @banner.link
%p
  %b Используется в кампаниях:
  = @banner.campaigns.live.count
%p
  %b Тип
  = @banner.is_flash? ? 'flash' : 'image'
%p
  %b Image/flash path:
  = link_to @banner.banner.url, @banner.banner.url

%p
  = image_tag @banner.banner.url

%p
  = state_actions(@banner)

= link_to 'Edit', edit_banner_path(@banner)
\|
= link_to 'Back', banners_path

= render :partial => "shared/activity_log", :locals => {:activities => @banner.activity_log_entries}
