%h1 Listing formats

%table
  %tr
    %th Width
    %th Height
    %th
    %th
    %th

  - @formats.each do |format|
    %tr
      %td= format.width
      %td= format.height
      %td= link_to 'Show', format
      %td= link_to 'Edit', edit_format_path(format)
      %td= link_to 'Destroy', format, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Ad style', new_format_path
