%h1 Рекламные кампании

%table
  %tr
    %th Place
    %th Banner
    %th State
    %th Start at
    %th Stop at
    %th
    %th
    %th

  - @campaigns.each do |campaign|
    %tr
      %td= campaign.place
      %td= image_tag campaign.banner.banner.url(:thumb)
      %td= campaign.state
      %td= campaign.start_date
      %td= campaign.stop_date
      %td= link_to 'Show', campaign
      %td= link_to 'Edit', edit_campaign_path(campaign)

%br

= link_to 'New Campaign', new_campaign_path
