%p
  %b Place:
  = @campaign.place
%p
  %b Banner:
  %td= image_tag @campaign.banner.banner.url(:thumb)
%p
  %b State:
  = @campaign.state
%p
  %b Start at:
  = @campaign.start_date
%p
  %b Stop at:
  = @campaign.stop_date

%p
  %b Max click count:
  = @campaign.max_click_count

%p
  %b Max view count:
  = @campaign.max_view_count

%p
  = state_actions(@campaign)

= render :partial => "shared/activity_log", :locals => {:activities => @campaign.activity_log_entries}

= link_to 'Edit', edit_campaign_path(@campaign)
\|
= link_to 'Back', campaigns_path
