%table
  - places.each do |place|
    %tr
      %td= place.id
      %td= link_to place, place
      %td
        .desc= place.format
      %td
        = state_actions(place)
      %td
        = link_to "Разместить баннер", new_campaign_path( :campaign => { :place_id=>place  })
        - if place.banners.present?
          (
          = link_to banners_in_words( place.banners ), place
          )
= link_to '[+] Добавить площадку', new_place_path()
