%table
  %tr
    %th Позиция
    %th Статус
    %th
  - website.places.each do |place|
    %tr
      %td
        -# = in_place_editor_field :place, :name, { :object => place }, :url => set_place_name_website_place_path(website, place) 
        = link_to place, place
        .desc= "(#{place.geometry})"
      %td= place.state
      %td
        = link_to "Разместить баннер", new_campaign_path( :campaign => { :place_id=>place  })
  %tr
    %td
      = link_to '[+] Добавить площадку', new_website_place_path(website)
