

%h2= "Площадка &#8470;#{@place.uid} '#{@website}/#{@place.name}'".html_safe

%p= "Типоразмер: #{@place.format}"

%p
  %b State:
  = @place.state

%p
  = state_actions(@place)

= link_to '&larr; список площадок'.html_safe, websites_path
