%h1
  = "Площадка &#8470;#{@place.uid} &laquo;#{@website}/#{@place.name}&raquo;".html_safe
= state_actions(@place)

.column_left
  %p
    %b Формат: 
    #{@place.format}

  %h2
    Код для вставки в html-страницу
  %p
    Вставьте этот код сразу после открывающего тэга
    %em
      %code
        :escaped
          <head>
  %pre.aydabanner_code
    %code.language-js
      = "<script type=\"text/javascript\" src=\"http://rotator.aydamaster.ru/rotator.js\"></script>"
  %p Вставьте этот код на место отображения баннера:
  %p
    -# %textarea(rows=1 cols=120 class="aydabanner_code" readonly)
    %pre.aydabanner_code
      %code.language-js
        = generate_place_code @place

.column_right
  %h2 Рекламные кампании
  = render 'campaigns/campaigns', :campaigns => @place.campaigns.live

.clear


= render "guests", :place => @place

= render "shared/activity_log", :activities => @place.activity_log_entries

= link_to '&larr; список площадок'.html_safe, websites_path


%br
